<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cardana</key>
	<dict>
		<key>isActivated</key>
		<string></string>
		<key>walletRemainingSignatures</key>
		<string></string>
		<key>status</key>
		<string>02</string>
		<key>cardId</key>
		<string>BB00000000000072</string>
		<key>walletPublicKey</key>
		<string></string>
	</dict>
</dict>
</plist>
